.link {
  display: block;
  padding: 39px 8px 10px;
  margin: 0 -8px;
  background: #29b6f6;
}

.link h1 {
  margin: 0;
  color: #fff;
  line-height: 1;
}

.search {
  margin: 1em 0;
}

@media (min-width: 768px) {
  .link,
  .search {
    vertical-align: bottom;
    display: inline-block;
    margin: 0;
  }

  .link {
    width: 288px;
    margin-left: -8px;
  }

  .search {
    width: calc(100% - 280px);
    padding-left: 40px;
  }
}

@media (min-width: 1024px) {
  .link {
    width: 366px;
    padding-left: 16px;
    margin-left: -16px;
  }

  .search {
    width: calc(100% - 350px);
    padding-left: 40px;
  }
}
