*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: 400 1em/1.5 sans-serif;
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  color: #37474f;
}

.browser {
  vertical-align: top;
  display: inline-block;
  width: 8.3333%;
  padding: 8px;
  border-radius: 4px;
  background: #fff8e1;
  text-align: center;
}

.browserName {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.versions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.version {
  background: #eeeeee;
  user-select: none;
  cursor: help;
}

.version:hover {
  background: #e0e0e0;
}

.hidden {
  color: transparent;
}

.supported {
  background: #a5d6a7;
}

.supported:hover {
  background: #81c784;
}

.unsupported {
  background: #ef9a9a;
}

.unsupported:hover {
  background: #e57373;
}
