.BrowserSupportTable {
  position: relative;
  white-space: nowrap;
}

.toggleDynamic {
  position: absolute;
  top: -28px;
  right: 0;
  display: inline-block;
  padding: 4px 8px;
  border: 0;
  outline: 0;
  background: #37474f;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

.toggleDynamic:hover {
  background: none;
  color: #37474f;
}

.toggleDynamic:focus {
  background: #29b6f6;
}

.browser {
  vertical-align: top;
  display: inline-block;
  width: 8.3333%;
  white-space: normal;
}

@media (min-width: 1024px) {
  .toggleDynamic {
    font-size: 14px;
  }
}
