.Version {
  background: #b0bec5;
  user-select: none;
  cursor: help;
}

.Version:hover {
  background: #90a4ae;
}

.supported {
  background: #a5d6a7;
}

.supported:hover {
  background: #81c784;
}

.notSupported {
  background: #ef9a9a;
}

.notSupported:hover {
  background: #e57373;
}

.hidden {
  font-size: 0;
}
