.Version {
  background: #ffe082;
  font-size: 8px;
  user-select: none;
  cursor: help;
}

.Version:hover {
  background: #ffd54f;
}

.supported {
  background: #a5d6a7;
}

.supported:hover {
  background: #81c784;
}

.notSupported {
  background: #ef9a9a;
}

.notSupported:hover {
  background: #e57373;
}

.hideText {
  font-size: 0 !important;
}

.tooltipBrowser {
  font-size: 12px;
}

.tooltipSupport {
  font-size: 8px;
}

@media (min-width: 768px) {
  .Version {
    font-size: 14px;
  }

  .smallText {
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .tooltipBrowser {
    font-size: 14px;
  }

  .tooltipSupport {
    font-size: 12px;
  }
}
