__backup
node_modules

arguments
caller
length
name
!**/prototype/arguments
!**/prototype/caller
!**/prototype/length
!**/prototype/name
**/prototype/constructor

data.json
descriptor.json
package.json
polyfill.js
tests.js
