.callout {
  max-width: 20em;
  margin: 1.5em auto;
  font-size: 16px;
  text-align: center;
}

.examples {
  padding: 0;
  margin: 0;
  list-style: none;
}

.example {
  max-width: 480px;
  margin: 2em 0;
}

.example h3 {
  overflow: hidden;
  margin: 0 0 0.5em;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example img {
  display: block;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 8px 0;
}

.list a {
  text-decoration: underline;
}

.icon {
  vertical-align: top;
  display: inline-block;
  padding: 4px;
  background: #37474f;
  color: #fff;
}

.icon svg {
  display: block;
}

@media (min-width: 480px) {
  .callout {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .callout {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .example {
    vertical-align: top;
    display: inline-block;
    width: 33.3333%;
    padding: 2em;
  }

  .callout {
    font-size: 32px;
  }
}
