<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Detect - Lab</title>
</head>

<body>
  <nav>
    <a href="/">Lab</a>
    &gt;
    <a href="/detect">Detect</a>
    &gt;
    <a href="/detect/{{browser}}">Browser: {{browser}}</a>
    &gt;
    <span>{{version}}</span>
  </nav>
  <p>{{ua}}</p>
  <h1>Detect browser: {{browser}} {{version}}</h1>
  <p id="feedback">Ready to detect {{remaining}}/{{total}} remaining properties for this browser</p>
  <form id="detect-form" method="POST">
    <label>
      <div>Secret</div>
      <input id="secret" type="password" name="secret" />
    </label>
    <input id="browser" name="browser" value="{{browser}}" hidden />
    <input id="version" name="version" value="{{version}}" hidden />
    <button>Detect</button>
  </form>
  <script src="/detect.js"></script>
</body>

</html>
