*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: 400 1em/1.5 sans-serif;
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  color: #37474f;
}
