.Heading {
  position: relative;
  padding: 0 0 32px;
}

.Heading:after {
  content: '';
  display: table;
  clear: both;
}

.Heading h1 {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.index h1 {
  margin-left: -0.5em;
}

.loudLink {
  padding: 0 0.5em;
  background: #37474f;
  color: #fff;
}

.loudLink:hover,
.loudLink:focus {
  background: #29b6f6;
  color: #fff;
}

.link {
  float: left;
  display: block;
  padding: 4px 8px;
  outline: 0;
  background: #37474f;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

.link:hover,
.link:focus {
  background: none;
  color: #37474f;
}

@media (min-width: 768px) {
  .Heading h1 {
    border-bottom: 1px solid currentColor;
    padding-right: 210px;
  }

  .index h1 {
    border-color: transparent;
  }

  .search {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 210px;
  }
}

@media (min-width: 1024px) {
  .Heading h1 {
    padding-right: 240px;
  }

  .search {
    width: 240px;
  }

  .link {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .Heading {
    padding-top: 32px;
  }

  .search {
    top: 32px;
  }
}
