.Heading {
  position: relative;
  padding: 8px 0 32px;
}

.Heading h1 {
  overflow: hidden;
  border-bottom: 1px solid currentColor;
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Heading h1 a {
  text-decoration: none;
}

.search {
  display: none;
}

.link {
  vertical-align: top;
  display: inline-block;
  padding: 4px 8px;
  outline: 0;
  background: #37474f;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

.link:hover,
.link:focus {
  background: none;
}

.link:hover {
  color: #37474f;
}

@media (min-width: 480px) {
  .Heading h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .Heading h1 {
    padding-right: 210px;
  }

  .search {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 210px;
  }
}

@media (min-width: 1024px) {
  .Heading {
    padding-top: 32px;
  }

  .Heading h1 {
    padding-right: 240px;
    font-size: 32px;
  }

  .search {
    top: 32px;
    width: 240px;
  }

  .link {
    font-size: 14px;
  }
}
