.SearchIcon {
  position: absolute;
  top: 16px;
  right: 8px;
  display: none;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .SearchIcon {
    display: block;
  }
}

@media (min-width: 1024px) {
  .SearchIcon {
    top: 41px;
    right: 9px;
    width: 30px;
    height: 30px;
  }
}
